.vscode/*
venv/* 
.idea/*
tornado*.log
server*.log
.python-version
**/__pycache__/*
database.dia~
app/plugins/*
!app/plugins/plugin.py
!app/plugins/__init__.py
scc.exe
.vscode/settings.json
node_modules
*bundle.js*
*bundle.css*
db_data/*
static/tinymce/*
