{% extends "../base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ static_url('css/geography.css') }}">
{% end %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Geografi</h1>
        <div class="columns">
            <div class="column">
                <div class="select">
                    <select id="country" name="country">
                        <option disabled selected value>Välj land</option>
                        {% for country in countries %}
                        <option {{ "selected" if country.id.int == selected_country.id.int else "" }} value="{{ country.id }}">{{ country.name }}</option>
                        {% end %}
                    </select>
                </div>
            </div>
            <div class="column">
                <button id="saveButton" class="button is-success">Spara</button>
            </div>
            {% module xsrf_form_html() %}
        </div>
        <div id="tree">
        </div>
        <div id="deleteModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Ta bort geografi</p>
                    <button id="cancelDeleteSmall" class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <p id="deleteText">
                        Är du säker på att du vill ta bort?
                    </p>
                </section>
                <footer class="modal-card-foot">
                    <button id="deleteNodeButton" class="button is-danger">Ta
                        bort</button>
                    <button id="cancelDelete" class="button">Avbryt</button>
                </footer>
            </div>
        </div>
        <div id="editModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Byt namn</p>
                    <button id="cancelEditSmall" class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <input class="input" id="newName" type="text" value="" placeholder="Namn">
                </section>
                <footer class="modal-card-foot">
                    <button id="editNameButton" class="button is-success">Ok</button>
                    <button id="cancelEdit" class="button">Avbryt</button>
                </footer>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block scripts %}
<script>
    let geodata = {};
    let selectedCountryID = "";

    geodata["{{ selected_country.id }}"] = {
        name: "{{ selected_country.name }}",
        id: "{{ selected_country.id }}"
    };

    selectedCountryID = "{{ selected_country.id }}";

    {% for area in areas %}
    geodata["{{ area.id }}"] = {
        name: "{{ area.name }}",
        id: "{{ area.id }}",
        path: "{{ area.path }}"
    };
    {% end %}

    {% for municipality in municipalities %}
    geodata["{{ municipality.id }}"] = {
        name: "{{ municipality.name }}",
        id: "{{ municipality.id }}",
        area: "{{ municipality.area_id }}"
    };
    {% end %}
</script>
<script src="{{ static_url('geography.bundle.js') }}"></script>
{% end %}