{% extends "../base.html" %}
{% block content %}
<div class="section">
    <div class="container">
        <h1 class="title">Medlemmar</h1>
        <div class="select">
            <select id="orgs">
                {% for org in organizations %}
                <option value="{{ org.id }}">{{ org.name }}</option>
                {% end %}
            </select>
        </div>
        <div id="myGrid" class="ag-theme-alpine"></div>
    </div>
</div>
{% end %}
{% block scripts %}
<script type="text/javascript">
    var _GRID_DATA_ = [
        {% for member in members %}
        {% if member.schema_id != "bot" %}
        {
            {% if member.metadata_public is not None %}
            number: "{{ member.metadata_public.get('member_number', '-1') }}",
            {% else %}
            number: "-1",
            {% end %}
            name: "{{ member.traits['name']['first'] + " " + member.traits['name']['last'] }}",
            email: "{{ member.traits['email'] }}",
            phone: "{{ member.traits.get('phone', '') }}",
            birthday: "{{ member.traits.get('birthday', '') }}",
            postalCode: "{{ member.traits['postal_address']['postal_code'] }}",
            city: "{{ member.traits['postal_address']['city'] }}",
            street: "{{ member.traits['postal_address']['street'] }}",
            country: "{{ member.traits['country'] }}"
        },
        {% end %%}
        {% end %}
    ];
</script>
<script src="{{ static_url('members.bundle.js') }}"></script>
{% end %}
