{% extends "../base.html" %}
{% block head %}
{% end %}
{% block content %}
<div class="section">
<div class="container">
    <h1 class="title">Roller</h1>
    <p>En roll är egentligen bara en samling av rättigheter. Dessa rättigheter styr vad en användare med rollen har möjlighet att göra inom systemet. Utöver roller så finns det två saker som begränsar användaren. Den första är vilken förening man blivit tilldelad rollen inom. Den andra är om man blivit tilldelad rollen inom ett specifikt geografiskt område. Det betyder att en person som t.ex. får rättigheten att skicka ut mail till medlemmar kan begränsas av att bara kunna skicka mail till medlemmar i en viss förening, som bor inom ett visst geografiskt område.</p>
    <div id="myGrid" style="width: 100%; height: 80vh;" class="ag-theme-alpine"></div>
    <br>
    {% module xsrf_form_html() %}
    <button id="save-roles" class="button is-success" style="margin-bottom: 1rem;">Spara</button>
    <div id="successNotification" class="notification is-success is-hidden">
        <button type="button" class="delete" onclick="hide('successNotification');"></button>
        <p id="successText"></p>
    </div>
    <div id="errorNotification" class="notification is-danger is-hidden">
        <button type="button" class="delete" onclick="hide('errorNotification');"></button>
        <p id="errorText"></p>
    </div>
</div>
</div>
{% end %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
    // specify the columns
    var __GRID_DATA_COLUMNS__ = [
        {
            headerName: "ID",
            field: "id",
            hide: true
        },
        {
            headerName: "Namn på roll",
            field: "name"
        },
        {% for permission in permissions %}
        {
            headerName: "{{ permission.name }}",
            field: "{{ permission.id }}",
            cellRenderer: 'checkboxRenderer',
            resizable: true
        },
        {% end %}
    ];

    // specify the data
    var __GRID_DATA_ROWS__ = [
        {% for role in roles %}
        {
            id: "{{ role.id }}",
            name: "{{ role.name }}",
            {% for permission in permissions %}
            {{ permission.id }}: {
                checked: {{ "true" if permission in permissions_by_role[role.id] else "false"}},
                disabled: false
            },
            {% end %}
        },
        {% end %}
    ];
</script>
<script src="{{ static_url('roles.bundle.js') }}"></script>
{% end %}
