<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if 'title' in locals() %}
    <title>Crew DB | {{ title }}</title>
    {% else %}
    <title>Crew DB</title>
    {% end %}
    <link rel="stylesheet" href="{{ static_url('css/bulma.min.css') }}">
    {% block head %}{% end %}
</head>
<body>
    {% block body %}
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-one-quarter ">
                <aside class="menu">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a>Dashboard</a></li>
                        <li><a>Events</a></li>
                    </ul>
                    <p class="menu-label">
                        Administration
                    </p>
                    <ul class="menu-list">
                        <li><a>Account settings</a></li>
                        <li>
                            <a>Manage Your Organizations</a>
                            <ul>
                                <li><a>Members</a></li>
                                <li><a>Plugins</a></li>
                                <li><a>Add a member</a></li>
                            </ul>
                        </li>
                        <li><a>Crew DB Settings</a></li>
                    </ul>
                    <p class="menu-label">
                        Transactions
                    </p>
                    <ul class="menu-list">
                        <li><a>Payments</a></li>
                        <li><a>Transfers</a></li>
                        <li><a>Balance</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                {% block content %}
                {% end %}
            </div>
        </div>
    </div>
    {% end %}
    {% block scripts %}{% end %}
</body>
</html>