<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MemberPort | Integritetspolicy</title>
    <link rel="stylesheet" href="{{ static_url('css/app.bundle.css') }}">
</head>

<body>
    <section class="hero is-dark is-fullheight">
        <div class="hero-body">
            <div class="container is-max-desktop has-text-centered">
                <h3 class="title has-text-white">MemberPort</h3>
                <p class="subtitle has-text-grey">Member management</p>
                <div class="box has-text-left">
                    <div class="content">
                        <h3>Varför kräver vi namn, mejl, addres, kön och födelsedatum?</h3>
                        <p>Mejl och andra kontaktuppgifter är för att vi ska kunna kontakta dig som medlem.</p>
                        <p>Kön samlas in för att föreningar ska kunna redovisa könsfördelning till myndigheter när de exempelvis söker bidrag.</p>
                        <p>Övriga uppgifter är för att vi ska kunna styrka att du är en fysisk person. Som medlem i föreningar får du i många fall rösträtt och då krävs det att vi vet om att du är en riktig person.</p>
                        <p>Vi följer Dataskyddsförordningen (GDPR) och därmed lämnas inte dina uppgifter till obehöriga eller tredjepart. De som kan se dina uppgifter är funktionärer med behörighet inom föreningarna.</p>
                        <p>Du har rätt till att begära ut dina personuppgifter som vi samlat in och och kan göra detta under fliken <i><a href="/profile">Min profil</a></i>. Där kan du även begära att ta bort alla personuppgifter om dig.</p>
                        <p>Om du avslutar alla dina medlemskap så kommer ditt konto och dina personuppgifter att raderas direkt. Ifall dina medlemskap löper ut så behåller vi dina uppgifter i upp till två månader för att kunna kontakta dig om att förnya medlemskapen.</p>
                    </div>
                </div>
                <p class="has-text-grey">
                    <a href="/">Gå tillbaka</a>
                </p>
            </div>
        </div>
    </section>
</body>
</html>
