{% extends "base.html" %}

{% block content %}
<section class="section">

    <div class="notification is-warning" id="motd">
        <button class="delete" onclick="toggleNotification('motd')"></button>
        <div class="content">
            <h3 class="title">Välkommen {{ name }}! Ditt medlemsnummer är: #{{ str(number) }}</h3>
            <p>Som ny medlem i Piratpartiet rekommenderar vi att du går igenom den här onboardingen.</p>
        </div>
        <div class="buttons">
            <button class="button is-success">Till onboardingen</button>
        </div>
    </div>

    <script>
    function toggleNotification(id) {
            document.getElementById(id).classList.add('is-hidden');
    }
    </script>

    <div class="columns">
        <div class="column is-one-fifth">
            {% include 'sidemenu.html' %}
        </div>

        <div class="column">
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <h1 class="title has-text-centered">
                            Senaste nytt
                        </h1>

                        <div class="box">
                        <!--- Here we put a loop getting the last 2 items from pp.se rss feed --->

                        <article class="message is-primary" id="news1">
                              <div class="message-header">
                                    <p>Rubrik</p> <!--- Get the <title> of the item --->
                                    <button class="delete" aria-label="delete" onclick="toggleNotification('news1')"></button>
                              </div>
                              <div class="message-body">
                                  <p>
                                    Kort beskrivning <!--- Get the <description> of the item --->
                                  </p>
                                <button class="button is-info">Läs mer...</button> <!--- Get the <link> of the item --->
                              </div>
                        </article>

                        <article class="message is-primary" id="news2">
                              <div class="message-header">
                                    <p>Rubrik</p> <!--- Get the <title> of the item --->
                                    <button class="delete" aria-label="delete" onclick="toggleNotification('news2')"></button>
                              </div>
                              <div class="message-body">
                                  <p>
                                    Kort beskrivning <!--- Get the <description> of the item --->
                                  </p>
                                <button class="button is-info">Läs mer...</button> <!--- Get the <link> of the item --->
                              </div>
                        </article>

                        <!--------------------------------------------------------------------------->

                        </div>

                    </div>

                    <div class="content">
                        <h1 class="title has-text-centered">
                            Kalender
                        </h1>
                        <!--- The idea is to embed our calendar here --->

                        <div class="box">
                            <figure class="image is-16by9">
                                <iframe class="has-ratio" src="https://en.m.wikipedia.org/wiki/Main_Page" frameborder="0" allowfullscreen></iframe>
                            </figure>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="column">
            <!--- Here we embed the party chat --->

            <div class="content">
                <h1 class="title has-text-centered">
                    Partichatten
                </h1>
            </div>
            <div class="box">
                <figure class="image is-4by5">
                    <iframe class="has-ratio" src="https://chat.piratpartiet.se" frameborder="0" allowfullscreen></iframe>
                </figure>
            </div>
        </div>


    </div>
</section>
{% end %}
