<aside class="menu sticky">
    <p class="menu-label">
        Politik
    </p>
    <ul class="menu-list">
        <li><a href="https://piratpartiet.se/senaste-nytt/">Nyheter</a></li>
        <li><a href="https://piratpartiet.se/principprogram">Principprogram</a></li>
        <li><a href="https://piratpartiet.se/sakpolitik">Sakpolitiska program</a></li>
        <li><a>Talespersoner</a></li>
    </ul>
    <p class="menu-label">
        Aktivitet
    </p>
    <ul class="menu-list">
        <li><a>Kalender</a></li>
        <li><a>Evenemang</a></li>
        <li><a>Att göra</a></li>
        <li><a>Lokala föreningar</a></li>
        <li><a href="https://opencollective.com/piratpartiet">Crowdfunding</a></li>
    </ul>
    <p class="menu-label">
        Guider
    </p>
    <ul class="menu-list">
        <li><a>Ställa upp i lokalt val</a></li>
        <li>
            <a href="https://piratpartiet.se/om-oss/piratpartiets-organisation/#organisationsstruktur">
                Piratpartiets organisationsstruktur
            </a>
        </li>
        <li>
            <a href="https://piratpartiet.se/om-oss/piratpartiets-organisation/#arbetskultur">
                Piratpartiets arbetskultur
            </a>
        </li>
    </ul>
</aside>
