
            <aside class="menu sticky"> <!--- This menu is primarily used for finding information --->
                <p class="menu-label">
                    Politik
                </p>
                <ul class="menu-list">
                    <li><a>Nyheter</a></li> <!--- Links to dedicated news page --->
                    <li><a>Principprogram</a></li>
                    <li><a>Sakpolitiska program</a></li>
                    <li><a>Talespersoner</a></li>
                </ul>
                <p class="menu-label">
                    Aktivitet
                </p>
                <ul class="menu-list">
                    <li><a>Kalender</a></li> <!--- Links to calendar --->
                    <li><a>Evenemang</a></li> <!--- Links to event page --->
                    <li><a>Att göra</a></li> <!--- Links to to do --->
                    <li><a>Lokala föreningar</a></li> <!--- Links to dedicated page for local organizations --->
                    <li><a href="https://opencollective.com/piratpartiet">Crowdfunding</a></li> <!--- Links to our opencollective --->
                </ul>
                <p class="menu-label">
                    Guider
                </p>
                <ul class="menu-list">
                    <li><a>Ställa upp i lokalt val</a></li>
                </ul>
            </aside>
