<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MemberPort | Bli medlem</title>
    <link rel="stylesheet" href="{{ static_url('css/bulma.min.css') }}" />
</head>

<body>
    <section class="hero is-dark is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-white">MemberPort</h3>
                    <p class="subtitle has-text-grey">Member management</p>
                    <div class="box">
                        <figure class="avatar">
                            <img src="{{ static_url('img/logo.svg') }}" >
                        </figure>
                        {% module xsrf_form_html() %}
                        <form action="/kratos/self-service/registration/methods/password?flow={{ flow }}" method="post">
                            {% for input in inputs %}
                            {% if input.type == 'hidden' %}
                                <input name="{{ input.name }}" type="hidden" value="{{ input.value }}" />
                            {% elif input.name == 'traits.municipality' %}
                                <div class="field">
                                    <div class="control">
                                        <div class="select is-large" style="width: 100%;">
                                            <select 
                                                id="{{ input.name }}"
                                                name="{{ input.name }}"
                                                style="width: 100%;"
                                                data-value="{{ input.value }}">
                                                <option disabled selected value>Välj din kommun</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% elif input.name == 'traits.country' %}
                                <div class="field">
                                    <div class="control">
                                        <div class="select is-large">
                                            <select
                                                id="{{ input.name }}"
                                                name="{{ input.name }}"
                                                onchange="updateMunicipalities()">
                                                {% for country in countries %}
                                                <option
                                                    value="{{ country.name }}"
                                                    {{ 'selected' if input.value == country.name else '' }}
                                                    >{{ country.name }}</option>
                                                {% end %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="field">
                                    <div class="control">
                                        <input
                                            name="{{ input.name }}"
                                            class="input is-large"
                                            type="{{ input.type }}"
                                            placeholder="{{ placeholders[input.name] }}"
                                            value="{{ input.value if input.value != None else '' }}"
                                            />
                                    </div>
                                </div>
                            {% end %}
                        {% end %}
                            <button type="submit" class="button is-block is-info is-large is-fullwidth">
                                Sign up
                            </button>
                        </form>
                    </div>
                    {% if error != "" %}
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        {{ error }}
                    </div>
                    {% end %}
                    <p class="has-text-grey">
                        <a href="/auth/login">Logga in</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="{{ static_url('js/api.js') }}"></script>
<script src="{{ static_url('js/sign-up.js') }}"></script>
</html>
