{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="content">
            <h1>Verifiera din e-post</h1>
        </div>
        <div class="box">
            <form action="{{ action }}" method="{{ method }}">
                {% for node in nodes %}
                {% if node.attributes.name == "csrf_token" %}
                <input type="hidden" name="csrf_token" value="{{ node.attributes.value }}">
                {% elif node.attributes.name == "email" %}
                <label class="label">
                    E-post
                    <span class="icon">
                        <i title="En länk kommer skickas till din e-post, när du klickar på den så kommer din e-post att markeras som verifierad"
                            class="fas fa-info-circle"></i>
                    </span>
                </label>
                <div class="field">
                    <div class="control">
                        <input type="email" name="email" class="input" required value="{{ user.email }}">
                    </div>
                </div>
                {% elif node.attributes.name == "method" and state == "choose_method" %}
                <input type="hidden" name="{{ node.attributes.name }}" value="{{ node.attributes.value }}">
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-success is-fullwidth">Skicka verifikationslänk</button>
                    </div>
                </div>
                {% end %}
                {% for error in node.messages.value %}
                {% if error.type == "error" %}
                <div class="notification is-danger">
                    <button class="delete"></button>
                    {{ error.text }}
                </div>
                {% end %}
                {% end %}
                {% end %}
            </form>
            <br>
            {% for error in errors %}
            {% if error.type == "error" %}
            <div class="notification is-danger">
                <button class="delete"></button>
                {{ error.text }}
            </div>
            {% end %}
            {% end %}
            {% if state == "sent_email" %}
            <div class="notification is-info">
                <button class="delete"></button>
                Verifikationslänk har skickats
            </div>
            {% elif state == "passed_challenge" %}
            <div class="notification is-success">
                <button class="delete"></button>
                Mailadressen är verifierad!
            </div>
            {% end %}
        </div>
    </div>
</section>
{% end %}