version: v0.13.0

identity:
  default_schema_id: member
  schemas:
    - id: member
      url: file:///etc/pirate-config/member.schema.json
    - id: bot
      url: file:///etc/pirate-config/bot.schema.json

selfservice:
  default_browser_return_url: http://127.0.0.1:8888/
  allowed_return_urls:
    - http://127.0.0.1:8888

  methods:
    password:
      enabled: true
    link:
      enabled: true
      config:
        lifespan: 30m
    oidc:
      enabled: false

  flows:
    login:
      ui_url: http://127.0.0.1:8888/auth/login
      lifespan: 10m
      after:
        default_browser_return_url: http://127.0.0.1:8888/
        password:
          hooks:
            - hook: revoke_active_sessions

    logout:
      after:
        default_browser_return_url: http://127.0.0.1:8888/auth/login

    registration:
      ui_url: http://127.0.0.1:8888/auth/registration
      lifespan: 10m
      after:
        default_browser_return_url: http://127.0.0.1:8888/auth/login
        password:
          hooks:
            - hook: web_hook
              config:
                url: http://memberport:8888/new-member
                method: POST
                body: file:///etc/pirate-config/new.member.jsonnet
                response:
                  ignore: false
                  parse: true
                auth:
                  type: api_key
                  config:
                    name: Authorization
                    value: kratos_api_key
                    in: header
            - hook: web_hook
              config:
                url: http://memberport:8888/new-membership
                method: POST
                body: file:///etc/pirate-config/new.membership.jsonnet
                response:
                  ignore: true
                  parse: false
                auth:
                  type: api_key
                  config:
                    name: Authorization
                    value: kratos_api_key
                    in: header

    recovery:
      enabled: true
      ui_url: http://127.0.0.1:8888/recovery

    error:
      ui_url: http://127.0.0.1:8888/error

    settings:
      ui_url: http://127.0.0.1:8888/profile
      lifespan: 1h
      privileged_session_max_age: 15m

    verification:
      enabled: true
      ui_url: http://127.0.0.1:8888/verify

log:
  level: debug
  format: text
  leak_sensitive_values: true

secrets:
  default:
    - PLEASE-CHANGE-ME-I-AM-VERY-INSECURE-YES-PLEASE24234§13!%!"!VFFgg23R"#FS#45234

serve:
  public:
    base_url: http://127.0.0.1:8888/kratos
  admin:
    base_url: http://pirate-kratos:4434

hashers:
  bcrypt:
    cost: 12
  algorithm: bcrypt

courier:
  smtp:
    connection_uri: smtps://test:test@mailslurper:1025/?skip_ssl_verify=true&legacy_ssl=true
